 <% for(var i=0; i<users.length; i++) { %>
        <tr>
		<% if (i == puser) { %>
			<td class="userPlaying">
		<% } else { %>
            <td>
		<% } %>
                <%= users[i] %>
            </td>
        </tr>
    <%  } %>
