.navbar-custom {
	background-color: #cf5230;
}

.navbar-brand {
	color:white;
}

.navbar-brand:hover {
	color:	#f59a44;
}

body { 
	padding-top: 65px;
}

#musicQueue {
	background-color:#cf5230;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 20;
}

#workspace {
	height:65% 
}

.album {
	background-color: #e3c598;
	margin: 10px;
	padding: 10px;
	height: 150px;
}

.album h2 {
	font-weight: bold;
}

.playing {	
	background-color: #e3c598;
	margin: auto;
	border-radius:200px;
	height:300px;
	width: 300px;
}

.playing-text {
	position: relative;
	top: 35%;
}
